*{
    margin: 0%;
    padding: 0%;

}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e1e5ec;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 10px;
    border: 3px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

.logo{
    position: absolute;
    /* padding-left: 40px; */
    /* padding-top: 35px; */
    margin-top: 35px;
    margin-left: 45px;
    width: 5%;
    border-radius: 30px;
}

.github{
    position: absolute;
    width: 3.8%;
    margin-left: 90%;
    margin-top: 47px;
    background-color: rgba(244, 246, 246, 0);
    cursor: pointer;
}
.github:hover{
    transform: scale(1.2);
    transition: 1s;
}
.linkedin{
    position: absolute;
    width: 3.1%;
    margin-left: 95%;
    margin-top: 50px;
    background-color: rgba(244, 246, 246, 0);
    cursor: pointer;
}
.linkedin:hover{
    transform: scale(1.2);
    transition: 1s;
}

.navbar-toggle{
    display: none;
}

.navd ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    font-size: large;
    padding-left: 110px;
    padding-top: 60px;
    z-index: 1;
} 

.navd img{
    z-index: 1;
}

.navd li {
    float: left;
    display: block;
    text-align: left;
    padding-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

.change-color li a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
  }

.navd li a:hover {    
    backdrop-filter: blur(5px);
    border-radius: 5px;
    background-color: #ffffff38;
    padding: 3px;
}

.spot{
    position: absolute;
    top: 70%; /* Adjust the top value to control the overlap amount */
    left: 66%; /* Adjust the left value to control the overlap amount */
    width: 30%; /* Adjust the width to control the overlap amount */
    z-index: 1; /* A higher z-index value brings an element to the front */
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    margin: 1px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    background-color: rgba(242, 241, 241, 0.384);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 200px #0c0c0c;

}

#trackName{
    padding-top: 25px;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
#artist{
    margin-top: 30px;
    color: aliceblue;
    text-align: left;
}


.spot img{
    margin: 20px;
    display: block;
    height: 128px;
    border-radius: 100px;
    animation: rotating 7s linear infinite; 
}
.spot img:hover{
    height: 120px;
    cursor: pointer;
    transition: 1s;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


.primary{
    position: relative;
    overflow: hidden;
    background-color: rgb(1, 1, 1);
    height: 110vh;
    
}

#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    height:auto;
    width:auto;
}

.primary h1{
    font-size: 300%;
    position: absolute;
    color:rgb(255, 255, 255);
    margin-top: 25%;
    margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

.primary h2{
    position: absolute;
    color:#fffcfc;
    margin-top: 29%;
    margin-left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
}


/* skills */
.skills{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    /* width: 100%; */
    color: azure;
    text-align: center;
    font-size: 35px;
}

#listitem{
    display: none;
}
.row{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.skills-col {
    max-height: 150px;
    border-radius: 20px;
    text-align: left;
    background: #ff040428;
    padding: 25px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}
  
  
.skills h3{
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skills-col p{
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





@media only screen and (max-width: 768px) {
        .navd ul{
            display: none;
        }
        #listitem{
            display: none;
        }
        .logo{
            padding-left: 0%;
        }
        .linkedin{
            display: none;
        }
        .github{
            display: none;
        }

        .navbar-toggle{
            display:block;
            position: fixed;
            z-index: 5;
            background-color: #f31414e7;
                    
        }
    
        .navbar-toggle img{
            position: fixed;
            height: 50px;
            margin-left: 80%;
            margin-top: 50px;
        }
        #listitem.show{
            display: block;
            position: fixed;
            z-index: 2;
            background-color: rgba(6, 5, 5, 0.421);
            backdrop-filter: blur(10px);
            backface-visibility: hidden;
            height: 55rem;
            width: 100%;
            color: azure;
        }

        #listitem li{
            margin-top: 200px;
            text-align: center;
            text-decoration: none;
        }
        

        #listitem li a{
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgba(112, 114, 114, 0.301);
            backdrop-filter: brightness(2);
            filter: drop-shadow(1px 2px 1px #080808);
            padding: 30px;
            color: aliceblue;
            border-radius: 20px;
            font-size: 3ch;
            
            
        }

        .spot{
            position: absolute;
            
            top: 75%; /* Adjust the top value to control the overlap amount */
            left: 5%; /* Adjust the left value to control the overlap amount */
            width: 90%; /* Adjust the width to control the overlap amount */
        
        }
    
        .spot img{
            height: 100px;
            
        }
    
        #trackName{
            padding-top: 25px;
            padding-left: 0px;
            margin-left: 0px;
            font-weight: bold;
            font-size:medium;
            color: #ffffff;
            font-family: 'Courier New', Courier, monospace;
        }
        #artist{
            color: aliceblue;
            font-size: small;
        }
        
        .primary h1{
            padding-top: 300px;
        }
        .primary h2{
            padding-top: 320px;
        }
        

}




